.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
  }
  
  .form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
    
  .error-message{
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  .success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
  }
  
  button[type="submit"] {
    background-color: #333; /* Adjust button color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #222; /* Darken on hover */
  }